# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Distribution / build
dist/
build/
install/
log/
*.egg-info/

docs/
scripts/
